<section class="content-section-container-bw {{ section.id }}" >
    <section
        data-section-id="{{ section.id }}" data-section-type="custom-content" data-overflow-wrapper class="section-bw-image-text">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'image' %}
                    <div class="image-content" data-aos="{{ block.settings.animation_image_section }}" 
                        data-aos-delay="{{ block.settings.delay_time_animation_image_section }}"
                        data-aos-duration="{{ block.settings.time_animation_image_section }}"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="false" >
                        {% liquid
                            assign image_height = block.settings.image_height_tamano
                        %}
                        {% if block.settings.image != blank %}
                            {{ block.settings.image | image_url: height: image_height | image_tag }}
                        {% else %}
                        {% endif %}
                    </div>
          {% endcase %}
        {% endfor %}
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'text' %}
                    <div class="text-content " data-aos="{{ block.settings.animation_text_section }}" 
                        data-aos-delay="{{ block.settings.delay_time_animation_text_section }}"
                        data-aos-duration="{{ block.settings.time_animation_text_section }}"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="false"  >
                {% endcase %}
        {% endfor %}
        {% for block in section.blocks %}
            {% case block.type %}
                        {% when 'Title' %}
                            <{{ block.settings.type_title }} style="font-weight:{{ block.settings.weight_title }}; color:{{ block.settings.color_title }};">{{ block.settings.title }}</{{ block.settings.type_title }}>
                        {% when 'Description' %}
                            <p style="color:{{ block.settings.color_description }};">{{ block.settings.description }}</p>
                        {% when 'Button' %}
                            <div class="button-container">
                                {% assign align_items_button_icon = block.settings.align-items-button-icon %}
                                {% assign order = block.settings.order %}
                                {% if block.settings.text_button != blank %}
                                    {% liquid
                                        assign button_color = block.settings.button_color
                                        assign text_button_color = block.settings.text_button_color
                                        assign button_border_radius = block.settings.button_border_radius
                                    %}
                                  
                                    <a href ="{{ block.settings.url}}" class="button-bw">
                                        {{ block.settings.text_button }}
                                    </a>
                                {% endif %}
                                {% if block.settings.icon != blank %}
                                    {% assign height_icon = block.settings.height_icon %}
                                    {{ block.settings.icon | image_url: height: height_icon | image_tag }}
                                {% endif %}
                              {% if block.settings.texto-custom != blank %}
                              <p class="button-bw">{{ block.settings.texto-custom }}</p>
                                {% endif %}
                            </div>
            {% endcase %}
        {% endfor %}
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'text' %}
                    </div>
            {% endcase %}
        {% endfor %}
    </section>
</section>

{{ 'section-image-custom.css' | asset_url | stylesheet_tag }}

{% style %}
.{{ section.id }}.content-section-container-bw {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    background-color: {{ section.settings.bg-color }};
    {% if section.settings.bg-desktop != blank %}
        background-image:url({{ section.settings.bg-desktop | image_url: width: 1800  }});
    {% endif %}
    background-position:{{ section.settings.bg-position }};
}
.{{ section.id }} .button-container{
    justify-content:{{ align_items_button_icon }};
    gap: {{section.settings.space_between}}px;
}
.{{ section.id }} .text-content{
    width:{{ section.settings.width_text_section }}%;
    gap:{{section.settings.space_between}}px;
    align-items:{{section.settings.align-items-text}};
    {% if section.settings.align-items-text == "flex-start" %}
        text-align:left;
    {% elsif section.settings.align-items-text == "center" %}
        text-align:center;
    {% elsif section.settings.align-items-text == "flex-end" %}
        text-align:right;
    {% endif %}
}
.{{ section.id }} .image-content{
    width:{{ section.settings.width_image_section }}%;
    align-items:{{section.settings.align-items-image}};
}

.{{ section.id }} .button-container .button-bw{
    order:{{order}};
}
.{{ section.id }} .button-bw{
    background: {{button_color}};
    color:{{text_button_color}};
    border-radius:{{button_border_radius}}px;
    border:solid 1px {{button_color}};
    transition:.8s;
}
.{{ section.id }} .button-bw:hover{
    color: {{button_color}};
    background:{{text_button_color}};
}
@media only screen and (max-width:768px){
    .{{ section.id }}.content-section-container-bw{
    {% if section.settings.bg_mobile != blank %}
            background-image:url({{ section.settings.bg_mobile | image_url: width: 350 }})
    {% endif %}
    }
}
{%endstyle %}



{% schema %}
{
    "name": "image text BW",
    "settings": [
        {
            "type": "header",
            "content": "Width sections & Padding"
        },
        {
            "type": "range",
            "id": "width_text_section",
            "label": "Width Text Section",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 100
        },
        {
            "type": "range",
            "id": "width_image_section",
            "label": "Width image Section",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 100
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Padding top",
            "min": 0,
            "max": 200,
            "step": 5,
            "default": 100
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "default": 100
        },
        {
            "type": "header",
            "content": "Config Text section"
        },
        {
            "type": "select",
                    "id": "align-items-text",
                    "label": "Align",
                    "options": [
                        {
                            "label": "Left",
                            "value": "flex-start",
                        },
                        {
                            "label": "center",
                            "value": "center",
                        },
                        {
                            "label": "right",
                            "value": "flex-end",
                        }
                    ]
        },
        {
            "type": "header",
            "content": "Config Image section"
        },
        {
            "type": "select",
            "id": "align-items-image",
            "label": "Align",
            "options": [
                {
                    "label": "Left",
                    "value": "flex-start",
                },
                {
                    "label": "center",
                    "value": "center",
                },
                {
                    "label": "right",
                    "value": "flex-end",
                }
            ]
        },
        {
            "type": "range",
            "id": "space_between",
            "label": "Space between items",
            "min": 0,
            "max": 50,
            "step": 5,
            "default": 15
        },
        {
            "type": "image_picker",
            "id": "bg-desktop",
            "label": "Bg Desktop"
        },
        {
            "type": "image_picker",
            "id": "bg-mobile",
            "label": "Bg Mobile"
        },
        {
            "type": "select",
            "id": "bg-position",
            "label": "BG Align",
            "options": [
                {
                    "label": "Top",
                    "value": "top",
                },
                {
                    "label": "center",
                    "value": "center",
                },
                {
                    "label": "bottom",
                    "value": "Bottom",
                }
            ]
        },
        {
            "type": "color",
            "id": "bg-color",
            "label": "Bg color"
        },
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image Section",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Image",
                    "id": "image"
                },
                {
                    "type": "range",
                    "id": "image_height_tamano",
                    "label": "Image height",
                    "min": 100,
                    "max": 700,
                    "step": 100,
                    "default": 300,
                },
                {
                    "type": "select",
                    "id": "animation_image_section",
                    "label": "Animation Image Section",
                    "options": [
                        {
                            "label": "nothing",
                            "value": "",
                        },
                        {
                            "label": "fade-up",
                            "value": "fade-up",
                        },
                        {
                            "label": "fade-down",
                            "value": "fade-down",
                        },
                        {
                            "label": "fade-left",
                            "value": "fade-left",
                        },
                        {
                            "label": "fade-rigth",
                            "value": "fade-rigth",
                        },
                        {
                            "label": "fade-up-rigth",
                            "value": "fade-up-rigth",
                        },
                        {
                            "label": "fade-up-left",
                            "value": "fade-up-left",
                        },
                        {
                            "label": "fade-down-right",
                            "value": "fade-down-right",
                        },
                        {
                            "label": "fade-down-left",
                            "value": "fade-down-left",
                        },
                        {
                            "label": "flip-left",
                            "value": "flip-left",
                        },
                        {
                            "label": "flip-rigth",
                            "value": "flip-rigth",
                        },
                        {
                            "label": "flip-up",
                            "value": "flip-up",
                        },
                        {
                            "label": "flip-down",
                            "value": "flip-down",
                        },
                        {
                            "label": "zoom-in",
                            "value": "zoom-in",
                        },
                        {
                            "label": "zoom-in-up",
                            "value": "zoom-in-up",
                        },
                        {
                            "label": "zoom-in-left",
                            "value": "zoom-in-left",
                        },
                        {
                            "label": "zoom-in-rigth",
                            "value": "zoom-in-rigth",
                        },
                        {
                            "label": "zoom-out",
                            "value": "zoom-out",
                        },
                        {
                            "label": "zoom-out-up",
                            "value": "zoom-out-up",
                        },
                        {
                            "label": "zoom-out-down",
                            "value": "zoom-out-down",
                        },
                        {
                            "label": "zoom-out-rigth",
                            "value": "zoom-out-rigth",
                        },
                        {
                            "label": "zoom-out-left",
                            "value": "zoom-out-left",
                        }
                    ]
                },
                {
                    "type": "range",
                    "info": "time is in MS",
                    "id": "time_animation_image_section",
                    "label": "Time of the animation",
                    "min": 0,
                    "max": 5000,
                    "step": 100,
                    "default": 500
                },
                {
                    "type": "range",
                    "id": "delay_time_animation_image_section",
                    "label": "Delay Time of the animation",
                    "min": 0,
                    "max": 5000,
                    "step": 100,
                    "default": 500
                },
            ]
        },
        {
            "type": "text",
            "name":"Text Section",
            "settings": [   
                {
                    "type": "select",
                    "id": "animation_text_section",
                    "label": "Animation Text Section",
                    "options": [
                        {
                            "label": "nothing",
                            "value": "",
                        },
                        {
                            "label": "fade-up",
                            "value": "fade-up",
                        },
                        {
                            "label": "fade-down",
                            "value": "fade-down",
                        },
                        {
                            "label": "fade-left",
                            "value": "fade-left",
                        },
                        {
                            "label": "fade-rigth",
                            "value": "fade-rigth",
                        },
                        {
                            "label": "fade-up-rigth",
                            "value": "fade-up-rigth",
                        },
                        {
                            "label": "fade-up-left",
                            "value": "fade-up-left",
                        },
                        {
                            "label": "fade-down-right",
                            "value": "fade-down-right",
                        },
                        {
                            "label": "fade-down-left",
                            "value": "fade-down-left",
                        },
                        {
                            "label": "flip-left",
                            "value": "flip-left",
                        },
                        {
                            "label": "flip-rigth",
                            "value": "flip-rigth",
                        },
                        {
                            "label": "flip-up",
                            "value": "flip-up",
                        },
                        {
                            "label": "flip-down",
                            "value": "flip-down",
                        },
                        {
                            "label": "zoom-in",
                            "value": "zoom-in",
                        },
                        {
                            "label": "zoom-in-up",
                            "value": "zoom-in-up",
                        },
                        {
                            "label": "zoom-in-left",
                            "value": "zoom-in-left",
                        },
                        {
                            "label": "zoom-in-rigth",
                            "value": "zoom-in-rigth",
                        },
                        {
                            "label": "zoom-out",
                            "value": "zoom-out",
                        },
                        {
                            "label": "zoom-out-up",
                            "value": "zoom-out-up",
                        },
                        {
                            "label": "zoom-out-down",
                            "value": "zoom-out-down",
                        },
                        {
                            "label": "zoom-out-rigth",
                            "value": "zoom-out-rigth",
                        },
                        {
                            "label": "zoom-out-left",
                            "value": "zoom-out-left",
                        }
                    ]
                },
                {
                    "type": "range",
                    "info": "time is in MS",
                    "id": "time_animation_text_section",
                    "label": "Time of the animation",
                    "min": 0,
                    "max": 5000,
                    "step": 100,
                    "default": 500
                },
                {
                    "type": "range",
                    "id": "delay_time_animation_text_section",
                    "label": "Delay Time of the animation",
                    "min": 0,
                    "max": 5000,
                    "step": 100,
                    "default": 500
                },
            ]
        },
        {
            "type": "Title",
            "name": "Title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Example Title"
                },
                {
                    "type": "select",
                    "id": "type_title",
                    "label": "Type of title",
                    "options": [
                        {
                            "label": "H1",
                            "value": "h1",
                        },
                        {
                            "label": "H2",
                            "value": "h2",
                        },
                        {
                            "label": "H3",
                            "value": "h3",
                        },
                        {
                            "label": "H4",
                            "value": "h4",
                        },
                        {
                            "label": "H5",
                            "value": "h5",
                        },
                        {
                            "label": "H6",
                            "value": "h6",
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "weight_title",
                    "info": "weight depends of the tipografy",
                    "label": "Weigth of title",
                    "options": [
                        {
                            "label": "300",
                            "value": "300",
                        },
                        {
                            "label": "400",
                            "value": "400",
                        },
                        {
                            "label": "500",
                            "value": "500",
                        },
                        {
                            "label": "600",
                            "value": "600",
                        },
                        {
                            "label": "700",
                            "value": "700",
                        },
                        {
                            "label": "800",
                            "value": "800",
                        },
                        {
                            "label": "900",
                            "value": "900",
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "color_title",
                    "label": "color",
                    "default":"#000"
                }
            ]
        },
        {
            "type": "Description",
            "name": "Description",
            "settings": [
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description",
                    "default": "Example of description"
                },
                {
                    "type": "color",
                    "id": "color_description",
                    "label": "color",
                    "default":"#000"
                }
            ]
        },
        {
            "type": "Button",
            "name": "Button & Icon",
            "settings": [
              {
                    "type": "textarea",
                    "id": "texto-custom",
                    "label": "Text",
                    "default": "texto"
                },
                {
                    "type": "text",
                    "id": "text_button",
                    "label": "Text Button",
                    "default": "Buy now"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "color",
                    "id": "text_button_color",
                    "label": "Text Button Color"
                },
                {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button Color"
                },
                {
                    "type": "range",
                    "id": "button_border_radius",
                    "label": "Button border radius",
                    "min": 0,
                    "max": 50,
                    "step": 5,
                    "default": 15
                },
                {
                    "type": "header",
                    "content": "settings for the icon",
                    "info": "settings for the icon"
                },
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon image"
                },
                {
                    "type": "range",
                    "id": "height_icon",
                    "label": "height icon",
                    "min": 0,
                    "max": 150,
                    "step": 5,
                    "default": 15
                },
                {
                    "type": "select",
                    "id": "align-items-button-icon",
                    "label": "Align",
                    "options": [
                        {
                            "label": "Left",
                            "value": "flex-start",
                        },
                        {
                            "label": "center",
                            "value": "center",
                        },
                        {
                            "label": "right",
                            "value": "flex-end",
                        },
                        {
                            "label": "space around",
                            "value": "space-around",
                        },
                        {
                            "label": "space evenly",
                            "value": "space-evenly",
                        },
                        {
                            "label": "space between",
                            "value": "space-between",
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "order",
                    "label": "order button & image",
                    "options": [
                        {
                            "label": "first button",
                            "value": "",
                        },
                        {
                            "label": "first image",
                            "value": "2",
                        },
                    ]
                },
            ],
        }
    ],
    "presets": [
        {
            "name": "image text BW",
            "category": "Image",
            "blocks": [
            {
                "type": "image"
            }, 
            {
                "type": "text"
            }
            ]
        }
    ]
}
{% endschema %}